extends layout

block content
  #WebGL-output
  #Stats-output
  script(type='text/javascript' src='/javascripts/chapter03.js')
  script(type='text/javascript' src='/javascripts/stats.js')
  script(type='text/javascript' src='/javascripts/dat.gui.js')

  script(type='text/javascript' src='/javascripts/libs/WebGLDeferredRenderer.js')
  script(type='text/javascript' src='/javascripts/libs/ShaderDeferred.js')
  script(type='text/javascript' src='/javascripts/libs/RenderPass.js')
  script(type='text/javascript' src='/javascripts/libs/EffectComposer.js')
  script(type='text/javascript' src='/javascripts/libs/CopyShader.js')
  script(type='text/javascript' src='/javascripts/libs/ShaderPass.js')
  script(type='text/javascript' src='/javascripts/libs/FXAAShader.js')
  script(type='text/javascript' src='/javascripts/libs/MaskPass.js')
