extends layout

block content
  #WebGL-output
  #Stats-output
  script(type='text/javascript' src='/javascripts/chapter02.js')
  script(type='text/javascript' src='/javascripts/stats.js')
  script(type='text/javascript' src='/javascripts/dat.gui.js')