doctype html
html
  head
    title Three.js
    script(type='text/javascript', src='/javascripts/three.js')
    style.
      body {
      margin: 0;
      overflow: hidden;
      }
  body
    block content


