doctype html
html
  head
    title title
    meta(charset="utf8")
    meta(name="theme-color" content="#3F51B5")
    link(rel="stylesheet", href="/stylesheets/mdui.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body.mdui-appbar-with-toolbar
    header.mdui-appbar.mdui-appbar-fixed
      .mdui-toolbar.mdui-color-transparent.mdui-text-color-white
        a.mdui-btn.mdui-btn-icon(mdui-drawer="{target: '#mdui-drawer-left'}")
          i.mdui-icon.material-icons menu
        a.mdui-typo-headline(href='javascript:;') MDUI
        a.mdui-typo-title(href='javascript:;') Title
        .mdui-toolbar-spacer
        a.mdui-btn.mdui-btn-icon(href='javascript:;')
          i.mdui-icon.material-icons search
        a.mdui-btn.mdui-btn-icon(href='javascript:;')
          i.mdui-icon.material-icons refresh
        a.mdui-btn.mdui-btn-icon(href='javascript:;')
          i.mdui-icon.material-icons more_vert
    
    #mdui-drawer-left.mdui-drawer
      ul.mdui-list.mdui-text-color-white
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons move_to_inbox
          .mdui-list-item-content Inbox
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons star
          .mdui-list-item-content Starred
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons send
          .mdui-list-item-content Sent mail
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons drafts
          .mdui-list-item-content Drafts
        li.mdui-subheader Subheader
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons email
          .mdui-list-item-content All mail
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons delete
          .mdui-list-item-content Trash
        li.mdui-list-item.mdui-ripple
          i.mdui-list-item-icon.mdui-icon.material-icons error
          .mdui-list-item-content Spam

    block content
    script(type='text/javascript', src='/javascripts/three.js')
    script(type='text/javascript', src='/javascripts/mdui.min.js')





