body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://s1.ax1x.com/2018/03/09/9RnW36.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#info {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#threejs {
  position:absolute;
  left:235px;
  top:65px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
